<div class="row">
  <div class="large-8 large-offset-2 columns">
    <h1><%= t('resources.search.title') %></h1>
    <%= form_for search_path, method: :get do |f| %>
      <p>
        <%= f.label t('form.search.label') %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag t('form.search.submit'), class: "button", name: nil %>
      </p>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="large-8 large-offset-2 columns">
      <% if @references.any? %>
        <% @references.records.each do |reference| %>
          <p>
              <%= reference.bible_book.name %> (<%= reference.chapter %>:<%= reference.versicle %>) - <i><%= reference.query_reference %></i>
          </p>
        <% end %>
      <% end %>
      <% if @searched %>
        <% if @references.results.total == 0 %>
          <div data-alert class="alert-box warning">
            <%= t('alert.warning.search.is_empty') %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
