<div class="row">
  <div class="large-8 large-offset-2">
    <%= link_to t('button.bible_book.add'), new_bible_book_path, class: "button right" %>
  </div>
</div>
<div class="row">
  <div class="large-8 large-offset-2">
    <table>
      <thead>
        <tr>
          <th><%= t('table.bible_book.name') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @bible_books.each do |bible_book| %>
        <tr>
          <td><%= bible_book.name %></td>
          <td>
            <%= link_to t('button.bible_book.edit'), edit_bible_book_path(bible_book), class: "button table-button tiny" %>
            <%= link_to t('button.bible_book.remove'), bible_book,  method: :delete, data: { confirm: t('alert.bible_book.remove') }, class: "button table-button tiny alert" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
