<div class="row">
  <div class="large-12">
    <%= link_to t('button.reference.add'), new_reference_path, class: "button right" %>
  </div>
</div>
<div class="row">
  <div class="large-12">
    <table>
      <thead>
        <tr>
          <th><%= t('table.reference.bible_book_name') %></th>
          <th><%= t('table.reference.chapter_versicle') %></th>
          <th><%= t('table.reference.keyword') %></th>
          <th><%= t('table.reference.query_reference') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @references.each do |reference| %>
        <tr>
          <td><%= reference.bible_book.name %></td>
          <td style="text-align: center;"><%= reference.chapter %>:<%= reference.versicle %></td>
          <td><%= reference.keyword %></td>
          <td><%= reference.query_reference %></td>
          <td>
            <%= link_to t('button.reference.edit'), edit_reference_path(reference), class: "button table-button tiny" %>
            <%= link_to t('button.reference.remove'), reference,  method: :delete, data: { confirm: t('alert.reference.remove') }, class: "button table-button tiny alert" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
